@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
$primary-color: blue;
$background-color: #fee;

* {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

.clickable {
    cursor: pointer;
    color: blue;
}

.clickable:hover {
    text-decoration: underline !important;
}

.clickable-word {
    cursor: pointer;
}

.clickable-word:hover {
    color: blue;
    text-decoration: underline !important;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 60px;
    background-color: #ddd;
    border-bottom: 1px solid gray;
    .button {
        float: left;
        padding: 18px 20px;
        border-right: 1px solid black;
        height: 100%;
    }
    .button:hover {
        background: #ccc;
        cursor: pointer;
    }

    .search {
        float: left;
        padding-left: 20px;
        padding-top: 13px;
    }
    input[type=text] {
        background-color: #ddd;
        font-size: 18px;
        border: none;
        border-bottom: 2px solid black;
        padding: 5px 8px;
    }
}
input[type=text]:focus {
    outline: none;
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
}

.results {
    margin-top: 60px;
}

.result-row {
    padding: 5px 25px;
}

.result-path {
    margin-bottom: 10px;
    span {
        font-size: 12px;
        background-color: #eee;
        border-radius: 3px;
        padding: 1px 5px;
        margin-right: 5px;
    }
    .path-separator {
        position: relative;
        top: 2px;
        height: 14px;
        width: 14px;
    }
}

.result {
    font-size: 18px;
}

.result svg {
    position: relative;
    height: 24px;
    top: 4px;
    margin-top: -6px;
}

.home svg {
    position: relative;
    top: 2px;
    height: 14px;
    stroke-width: 2px;
    stroke: blue;
}