@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
$primary-color: blue;
$background-color: #fee;

* {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

.results-row {
    border-top: 1px solid gray;
    padding: 5px 25px;
}
.results-row:last-child {
    border-bottom: 1px solid gray;
}
.results-path {
    font-size: 11px;
}
.results {
    font-size: 16px;
}