@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:500,600');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

.clickable {
    cursor: pointer;
    color: blue;
}

.clickable:hover {
    text-decoration: underline !important;
}

.clickable-word {
    cursor: pointer;
}

.clickable-word:hover {
    color: blue;
    text-decoration: underline !important;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 60px;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
    .brand {
        float: left;
        padding: 19px 20px;
        border-right: 1px solid #bbb;
        height: 100%;
        font-weight: 600;
        letter-spacing: .5px;
        cursor: default;
    }
    .button {
        float: left;
        padding: 18px 20px;
        border-right: 1px solid #bbb;
        height: 100%;
        transition: .3s all;
    }
    .button:hover {
        background: #ddd;
        cursor: pointer;
    }
    .search {
        float: left;
        padding-left: 20px;
        padding-top: 13px;
    }
    input[type=text] {
        background-color: #ddd;
        font-size: 18px;
        border: none;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px 8px;
        transition: .3s all;
    }
}

@media screen and (max-width: 618px) {
    .navbar {
        .brand {
            display: none;
        }
    }
}
@media screen and (max-width: 500px) {
    .navbar {
        .button {
            padding: 18px 8px;
        }
        .search {
            padding-left: 8px;
            label {
                position: relative;
                top: -2px;
                font-size: 14px;
            }
            input {
                width: 126px;
            }
        }
    }
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #aaa;
}

.results {
    margin-top: 60px;
    cursor: default;
}

.result-path {
    padding: 5px 25px 10px;
    border-top: 2px solid black;
    span {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 12px;
        background-color: #eee;
        border-radius: 3px;
        padding: 1px 5px;
        margin-right: 5px;
    }
    .path-separator {
        position: relative;
        top: 2px;
        height: 14px;
        width: 14px;
    }
}

.result-row:first-child .result-path {
    border-top: none;
}

.result {
    font-size: 18px;
    padding: 10px 25px;
    border-top: 1px solid #eee;
    background-color: #fff;
    transition: .3s all;
}

.result-row:last-child .result {
    border-bottom: 1px solid #eee;
}

.result-clickable {
    color: blue;
}

.result-hovered {
    background-color: #eee;
    color: blue;
    cursor: pointer;
}

.result svg {
    position: relative;
    height: 24px;
    top: 4px;
    margin-top: -6px;
}

.home svg {
    position: relative;
    top: 2px;
    height: 14px;
    stroke-width: 2px;
    stroke: blue;
}